# Database configuration
DATABASE_URL=

# JWT configuration
JWT_SECRET=
JWT_EXPIRES_IN=

# Cloudinary configuration
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=

# CORS configuration
CORS_ORIGIN=

# Port configuration
PORT=

# Resend API key
RESEND_API_KEY=